:root {
  --body-background-color: #333633;
  --main-background-color: #2a2b29;
  --main-color: #ECDFCC;
  --max-body-width: 700px;
  --border-color: #aaaaaa;
  --secondary-color: #697565;
  --loader-bullet-size: 6px;
  --transition-duration: 1s;
}

* {
  box-sizing: border-box;
}


body {
  background-color: var(--body-background-color);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  transition: var(--transition-duration);
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  margin-top: 20px;
}

.main-container {
  max-width: var(--max-body-width);
  min-height: 100vh;
  background-color: var(--main-background-color);
  color: var(--main-color);
  padding: 50px;
  margin: 0 auto;
  transition: var(--transition-duration);
}

.header {
  text-align: center;
}

.header-title {
  margin-top: 0;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}


.message {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px 15px;
  align-self: baseline;
}

.message-human {
  background-color: var(--secondary-color);
  text-align: right;
  align-items: right;
  align-self: end;
  transition: var(--transition-duration);
}

.prompt-container {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--max-body-width);
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--main-background-color);
  padding: 20px;
  border-top: 1px solid var(--border-color);
  transition: var(--transition-duration);
}

.message:hover,
.message:active {
  background-color: var(--body-background-color);
  cursor: text;
  transition: var(--transition-duration);
}


.qcm-container {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--max-body-width);
  display: flex;
  align-items: center;
  background-color: var(--main-background-color);
  transition: var(--transition-duration);
}

.qcm-block {
  margin-left: 100px;
  display: block;
  gap: 10px;
  margin-bottom: 30px;
}

.save-container {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--max-body-width);
  display: flex;
  align-items: center;
  gap: 30px;
  border-top: 1px solid var(--border-color);
  transition: var(--transition-duration);
}

.prompt-label {
  font-weight: bold;
}

.prompt-input {
  flex-grow: 1;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
  transition: var(--transition-duration);
}

.button {
  border: 1px solid var(--border-color);
  padding: 5px;
  border-radius: 5px;
  background-color: var(--border-color);
  transition: var(--transition-duration);
}

.button:hover,
.button:active {
  background-color: var(--border-color);
  cursor: pointer;
  transition: var(--transition-duration);
}

.w3-sidebar {
  position: fixed;
}



.hidden {
  display: none;
}

/* Loader code taken from https://loading.io/css/ */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: var(--loader-bullet-size);
}

.loader div {
  position: absolute;
  top: 0;
  width: var(--loader-bullet-size);
  height: var(--loader-bullet-size);
  border-radius: 50%;
  background-color: var(--main-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  transition: var(--transition-duration);
}

.loader div:nth-child(1) {
  left: calc(var(--loader-bullet-size) * 0.5);
  animation: loader1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: calc(var(--loader-bullet-size) * 0.5);
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: calc(var(--loader-bullet-size) * 2.5);
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: calc(var(--loader-bullet-size) * 4);
  animation: loader3 0.6s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(calc(var(--loader-bullet-size) * 2), 0);
  }
}