:root {
    --body-background-color: #fad104;
    --main-background-color: #16a663;
    --main-color: #2a303b;
    --max-body-width: 700px;
    --border-color: #cccccc;
    --secondary-color: #fff6d3;
    --loader-bullet-size: 6px;
}

body {
    background-image: url('https://tecnico.ulisboa.pt/files/2017/06/priberam-machine-learning-lunch-seminar-joao-xavier-1140x641.jpg');
    background-size: cover;
    /* L'image couvrira toute la page */
    background-position: center;
    /* L'image sera centrée */
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: var(--body-background-color);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


.button {
    text-align: center;
    z-index: 10;
    /* Le bouton a une priorité plus élevée pour s'afficher au-dessus */
    position: relative;
    color: #1a0f59;
    /* Couleur du texte */
}

.header {
    position: relative;
    /* Le parent reste en position relative pour que le titre soit positionné par rapport à lui */
    height: 100vh;
    /* Hauteur de la fenêtre visible */
}

.header-title-front {
    position: absolute;
    /* On positionne le titre en fonction des propriétés top, right, bottom, left */
    top: 20%;
    /* Ajuste cette valeur pour déplacer le texte verticalement */
    left: 30%;
    /* Ajuste cette valeur pour déplacer le texte horizontalement */
    transform: none;
    /* Supprime la transformation précédente */
    font-size: 2em;
    /* Taille du texte */
    color: #b6abf4;
    /* Couleur du texte */
    z-index: 1;
}

.center {
    text-align: center;
    margin-top: -400px;
    display: flex;
    justify-content: center;
}

.prompt-container {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: var(--max-body-width);
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--main-background-color);
    padding: 20px;
    border-top: 1px solid var(--border-color);
}