:root {
    --body-background-color: #fad104;
    --main-background-color: #16a663;
    --main-color: #2a303b;
    --max-body-width: 700px;
    --border-color: #cccccc;
    --secondary-color: #fff6d3;
    --loader-bullet-size: 6px;
}

body {
    background-color: var(--body-background-color);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


.button {
    text-align: center;
}

.header {
    text-align: center;
}

.center {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.prompt-container {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: var(--max-body-width);
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--main-background-color);
    padding: 20px;
    border-top: 1px solid var(--border-color);
}