<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Mon A.I.de mémoire</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <main class="main-container">
      <header class="header">
        <h1 class="header-title">Mon A.I.de mémoire</h1>
      </header>

      <form id="text-form" class="text-container">
        <label for="text" class="prompt-label">Texte à réviser</label>

        <input
          type="text"
          id="text"
          name="text"
          class="text-input"
          autocomplete="off"
        />

        <button type="submit" class="button" id="text-button">
          Enregistrer le texte
        </button>

      </form>

      <form id="pdfForm" class="text-container">
        <label for="text" class="prompt-label">Pdf à réviser</label>
        <input type="file" name="pdfUpload" id="pdfUpload" accept=".pdf" required class="text-input">
        <input type="submit" value="Enregistrer le PDF" class="button" id="pdfButton">
      </form>

      <div style="width: 100%; height: 10px;"></div>

      <section id="messages-container" class="messages-container">
        <div class="message message-ai">
          Je suis ton AIssistant de cours personnel ! Pose-moi une question sur
          le document et je te répondrai. Tu peux aussi me donner un autre document.
        </div>
      </section>

      <form id="prompt-form" class="prompt-container">
        <label for="prompt" class="prompt-label">Message</label>

        <input
          type="text"
          id="prompt"
          name="prompt"
          class="prompt-input"
          autocomplete="off"
        />  

        <button type="submit" class="button" id="submit-button">
          Envoyer
        </button>

        <button type="button" class="button" id="question-button">
          Pose-moi une question !
        </button>

      </form>

      <script src="{{ url_for('static', filename='prompt.js') }}"></script>
    </main>
  </body>
</html>
