<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Ma page</title>

  <link id="style" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>

<body>
  <div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="width:200px;" id="mySidebar">
    <button class="w3-bar-item w3-button w3-hide-large button" onclick="w3_close()">Close &times;</button>
    <ul>
      <li><button type="button" class="button" id="change_style">
          Mode Sombre
        </button>
      <li><button type="button" class="button" id="enregistre">
          Enregistre
        </button>
    </ul>
  </div>
  <div class="w3-sidebar">

    <div class="w3-teal" id="menubutton">
      <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
    </div>
  </div>

  <main class="main-container">
    <header class="header">
      <h1 class="header-title">Mon A.I. de mémoire</h1>

    </header>

    <section id="messages-container" class="messages-container">
      <div class="message message-ai">
        Je suis ton AIssistant de cours personnel ! Pose-moi une question sur
        le cours et je te répondrai.
      </div>
    </section>

    <form id="prompt-form" class="prompt-container">
      <label for="prompt" class="prompt-label">Message</label>

      <input type="text" id="prompt" name="prompt" class="prompt-input" autocomplete="off" />

      <button type="submit" class="button" id="submit-button">Envoyer</button>

      <button type="button" class="button" id="question-button">
        Pose-moi une question
      </button>

      <button type="button" class="button" id="change_style">
        Mode Sombre
      </button>

      <button type="button" class="button" id="enregistre">
        Enregistre
      </button>

      <button type="button" class="button" id="qcm-button">
        QCM
      </button>

    </form>

    <form id="qcm-form" class="qcm-container"></form>
    <button type="button" class="button" id="response-A" hidden="hidden">
      A
    </button>
    <button type="button" class="button" id="response-B" hidden="hidden">
      B
    </button>
    <button type="button" class="button" id="response-C" hidden="hidden">
      C
    </button>
    </form>
    <script src="{{ url_for('static', filename='prompt.js') }}"></script>
    <script>
      document.getElementById("mySidebar").style.display = "none";
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("menubutton").style.display = "none";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("menubutton").style.display = "block";
      }
    </script>
  </main>
</body>

</html>